# Database connection details
DATABASE_URL="postgresql://admin123:password123@localhost:5432/weather_app?schema=public"
DB_USER=admin123
DB_PASSWORD=password123

# Server configuration
PORT=3000
JWT_SECRET=mysecretkey
OPENWEATHER_API_KEY=3a0f9539558ffcb32f6d0967fe7f4991